MYSQL_PWD="password"

SECRETE_ADMIN_TOKEN="password"

RABBIT_PASS="password"
NOVA_PASS="password"
ADMIN_PASS="password"
GLANCE_PASS="password"

KEYSTONE_DBPASS="password"
GLANCE_DBPASS="password"
NOVA_DBPASS="password"

MANAGEMETN_NETWORK_IP="10.0.0.127"
KEYSTONE_HOSTNAME="myubuntu"
CONTROLLER_HOSTNAME="myubuntu"
BRIDGE_FLAT="br100"
INTERFACE_FLAT="eth0"
INTERFACE_PUB="eth1"

EMAIL_ADDRESS="my@email.com"

