MYSQL_PWD="password"

SECRETE_ADMIN_TOKEN="password"

RABBIT_PASS="password"
NOVA_PASS="password"
ADMIN_PASS="password"
GLANCE_PASS="password"
CINDER_PASS="password"

KEYSTONE_DBPASS="password"
GLANCE_DBPASS="password"
NOVA_DBPASS="password"
CINDER_DBPASS="password"

PUBLIC_NETWORK="192.168.1.0/24"
MANAGEMETN_NETWORK_IP="192.168.1.68"
KEYSTONE_HOSTNAME="myubuntu"
CONTROLLER_HOSTNAME="myubuntu"
CONTROLLER_DOMAIN_NAME="cybera.ca"

OPENSTACK_INTERNAL_NETWORKIP="192.168.254.0"
OPENSTACK_INTERNAL_NETWORK="192.168.254.0/24"
OPENSTACK_INTERNAL_NETMASK="255.255.255.0"

BRIDGE_FLAT="br111"
INTERFACE_FLAT="eth0"
INTERFACE_PUB="eth0"

EMAIL_ADDRESS="my@email.com"

